@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap');

:root {
  --pink:#d8117d;
  --red:#d9362d;
  --orange:#e5712a;
  --yellow:#f8be23;
  --green:#069743;
  --blue:#00a3da;
  --purple:#773e85;
  --base-font:'Harmattan','IBM Plex Sans','IBM Plex Sans Arabic','IBM Plex Sans SemiBold','IBM Plex Sans Medium',sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: black;
    --main-bg-color: #bebebe;
    --body-bg-color: #dddddd;
    --head-foot-bg-color: white;
    --highlight-color: forestgreen;
    --body-bg-color-transparent: rgba(221, 221, 221, 0.6);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --main-bg-color: #4b4b4b;
    --body-bg-color: #222222;
    --head-foot-bg-color: black;
    --highlight-color: paleturquoise;
    --body-bg-color-transparent: rgba(34, 34, 34, 0.6);
  }
}
@media (prefers-color-scheme: no-preference) {
  :root {
    --text-color: white;
    --main-bg-color: #4b4b4b;
    --body-bg-color: #222222;
    --head-foot-bg-color: black;
    --highlight-color: paleturquoise;
  }
}

html, body {
  background-image: url("../images/pcb.png");
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: var(--body-bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: var(--base-font);
  min-height: 100vh;
}
main {
  background-color: var(--main-bg-color);
  margin-left: 5%;
  width: 90%;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-auto-rows: minmax(0, auto);
  grid-auto-flow: row;
  padding-top: 6em;
  padding-bottom: 1em;
}

h2, h3, h4, h5 {
  font-family: var(--base-font);
  margin-bottom: 0;
}

h1 {
  font-size: 50px;
}
h2 {
  text-align: center;
  font-size: 45px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 35px;
}
h5 {
  font-size: 30px;
}

@media only screen and (max-width:1200px){
  div.maincontent {
    grid-column: 1 / span 4;
    border-width: 0 0 10px 0;
  }
  div.sidebar {
    grid-row: 2 /span 1;
    margin-bottom: 3em;
  }
  div.sidebar h3 {
    font-size: 30px;
  }
  div.filler {
    display: none;
  }
}
@media only screen and (min-width:1200px){
  div.maincontent {
    grid-column: 1;
    grid-row: 1 /span 10;
    border-width: 0 10px 0 0 ;
    min-width: 50vw;
  }
  div.sidebar {
    grid-column: 2;
    grid-row: span 1;
    max-width: 25vw;
  }
  div.sidebar:last-of-type {
    border-width: 0 0 10px 10px;
  }
}

div.maincontent {
  padding: 2em;
  padding-top: 1em;
  margin-top: 0;
  vertical-align: top;
  border-style: solid;
  border-color: var(--body-bg-color);
}
div.maincontent p {
  text-align: justify;
  text-justify: inter-word;
}
div.maincontent p a {
  text-decoration: underline;
  color: inherit;
}
div.maincontent p a:visited {
  color: inherit;
}
div.maincontent p a:hover {
  color: var(--highlight-color);
}
div.maincontent img {
  width: 100%;
}

div.sidebar p, div.sidebar ul {
  text-align: justify;
  text-justify: inter-word;
  font-family: var(--base-font);
}
div.sidebar h3 {
  font-weight: bold;
  font-family: var(--base-font);
  line-height: 100%;
}
div.sidebar {
  padding: 1em;
  padding-right: 2em;
  padding-bottom: 0.25em;
  padding-top: 2em;
}

header {
  position: fixed;
  top:0;
  padding-top: 0;
  margin-top: 0;
  z-index: 255;
}

header, footer {
  background-color: var(--head-foot-bg-color);
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
  display:block;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
footer a {
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
footer p { 
  display: inline-block;
  justify-content: center;
  font-family: var(--base-font);
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

header h1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-family: var(--base-font);
  margin: 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding: 0.5em 0 0.5em 0;
}
nav a {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  color: var(--text-color);
  font-family: var(--base-font);
  font-weight: bolder;
  vertical-align: middle;
  border-style: solid;
  border-width: 0 2px 0 0;
  font-size: 14pt;
  line-height: 100%;
}
nav a:first-of-type {
  border-style: solid;
  border-width: 0 2px 0 2px;
}
nav a:link {
  text-decoration: none;
  color: var(--text-color);
}
nav a:visited {
  text-decoration: none;
  color: var(--text-color);
}
nav a:hover {
  text-decoration: underline;
  color:var(--highlight-color);
}

div.searchbar {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  display: inline-block;
  font-family: var(--base-font);
  border-style: solid;
  border-width: 0 2px 0 0;
  font-size: 16pt;
  line-height: 100%;
}

a#linkedin, a#linkedin:visited {
  color: var(--text-color);
}
a#linkedin:hover {
  color: #0072b1;
}

a#twitter, a#twitter:visited {
  color: var(--text-color);
}
a#twitter:hover {
  color: #55acee;
}

a#instagram, a#instagram:visited {
  color: var(--text-color);
}
a#instagram:hover {
  color: #e1306c;
}

a#email, a#email:visited {
  color: var(--text-color);
}
a#email:hover {
  color: var(--yellow);
}

a#github, a#github:visited {
  color: var(--text-color);
}
a#github:hover {
  color: #6cc644;
}

span.namespan { 
  min-width: 0.3em;
  font-size: 50px;
  font-family: var(--base-font);
}

p {
  font-size: 16pt;
  line-height: 120%;
}

img#logo_title {
  height: 86px;
  width: auto;
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slide {
  display: none;
  z-index: 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.1);
}

/* Position the "next button" to the right */
.next {
  right: -1.5em;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.prev {
  left: -1.5em;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption {
  color: var(--text-color);
  font-size: 15px;
  padding: 1em 0;
  position: absolute;
  bottom: 0.75em;
  display: block ;
  width: 100%;
  text-align: center;
  background-color: var(--body-bg-color-transparent);
}

/* Number text (1/3 etc) */
.imgnum {
  color: var(--text-color);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--body-bg-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--text-color);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

ul li {
  font-size: 16pt;
  line-height: 100%;
}

div.maincontent ul li a {
  text-decoration: underline;
  color: inherit;
}
div.maincontent ul li a:visited {
  color: inherit;
}
div.maincontent ul li a:hover {
  color: var(--highlight-color);
}

.hdr {
  margin-top: 0;
  padding-top: 0;
  line-height: 100%;
}

div.about {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width:1200px){
  img#side {
    width: 60%;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
@media only screen and (min-width:1200px){
  img#side {
    float: left; 
    width: 45%;
    padding-right: 1em;
  }
}

iframe#resume {
  width:100%;
  height: 80vh;
  border: 0;
}

h3.link {
  padding-top: 1em;
  padding-right: 1em;
}

h3.link a {
  background-color: var(--body-bg-color-transparent);
  padding: 0.25em;
  text-decoration: underline;
  color: inherit;
}
h3.link a:visited {
  color: inherit;
}
h3.link a:hover {
  color: var(--highlight-color);
}

form {
  display: grid;
}

form .formname {
  grid-column: 1;
}
form .formemail {
  grid-column: 2;
}
form .formmessage {
  grid-column: 1 /span 2;
}

form input.formmessage {
  min-height: 5em;
}

form div.formname, form div.formemail {
  grid-row: 1;
  padding-left: 1em;
}

form div.formmessage {
  margin-top: 1em;
  padding-left: 1em;
}

form #submit {
  margin-top: 2em;
  grid-column: 1 /span 2;
  width: 10em;
}
