html, body {
  background-color: #222222;
  color: white;
  margin: 0;
  padding: 0;
}

main {
  background-color: #4b4b4b;
  margin-left: 5%;
  width: 90%;
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-auto-rows: minmax(0, auto);
  grid-auto-flow: row;
}

div.maincontent {
  grid-column: col-start 1 / span 6;
  grid-row: 1 /span 10;
  padding: 2em;
  padding-top: 1em;
  vertical-align: top;
}
div.maincontent p {
  text-align: justify;
  text-justify: inter-word;
}
div.maincontent p:first-letter {
  float: left;
  font-size: 48px;
  line-height: 1;
  font-weight: bold;
  margin-right: 9px;
}
div.maincontent img {
  max-width: 100%;
}

div.sidebar p {
  text-align: justify;
  text-justify: inter-word;
  padding-right: 1em;
}
div.sidebar {
  grid-column: col-start 7 / span 3;
  padding: 1em;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}

header, footer {
  background-color: black;
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
  display:block;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 0;
  width: 100%;
}

footer p { 
  display: flex;
  justify-content: center;
}

header h2 {
  padding-top: 1em;
  display: flex;
  justify-content: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
nav a {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white;
  font-weight: bolder;
  vertical-align: middle;
}
nav a:link {
  text-decoration: none;
  color: white;
}
nav a:visited {
  text-decoration: none;
  color: white;
}
nav a:hover {
  text-decoration: underline;
  color:paleturquoise;
}

div.searchbar {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: inline-block;
}