@font-face {
  font-family: jetbrainsmono;
  src: url(../fonts/JetBrainsMono-Regular.woff2);
  font-weight: normal; /* same as weight 400 */
  font-style: normal;
}

@font-face {
  font-family: jetbrainsmono;
  src: url(../fonts/JetBrainsMono-Italic.woff2);
  font-weight: normal; /* same as weight 400 */
  font-style: italic;
}

@font-face {
  font-family: jetbrainsmono;
  src: url(../fonts/JetBrainsMono-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: jetbrainsmono;
  src: url(../fonts/JetBrainsMono-Medium-Italic.woff2);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: jetbrainsmono;
  src: url(../fonts/JetBrainsMono-SemiLight.woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: jetbrainsmono;
  src: url(../fonts/JetBrainsMono-SemiLight-Italic.woff2);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: jetbrainsmono;
  src: url(../fonts/JetBrainsMono-Light.woff2);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: jetbrainsmono;
  src: url(../fonts/JetBrainsMono-Light-Italic.woff2);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: jetbrainsmono;
  src: url(../fonts/JetBrainsMono-ExtraLight.woff2);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: jetbrainsmono;
  src: url(../fonts/JetBrainsMono-ExtraLight-Italic.woff2);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: jetbrainsmono;
  src: url(../fonts/JetBrainsMono-Bold.woff2);
  font-weight: bold; /* same as weight 700 */
  font-style: normal;
}

@font-face {
  font-family: jetbrainsmono;
  src: url(../fonts/JetBrainsMono-Bold-Italic.woff2);
  font-weight: bold; /* same as weight 700 */
  font-style: italic;
}

@font-face {
  font-family: jetbrainsmono;
  src: url(../fonts/JetBrainsMono-ExtraBold.woff2);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: jetbrainsmono;
  src: url(../fonts/JetBrainsMono-ExtraBold-Italic.woff2);
  font-weight: 900;
  font-style: italic;
}

/*
  "#d8117d", //pink
  "#d9362d", //red
  "#e5712a", //orange
  "#f8be23", //yellow
  "#069743", //green
  "#00a3da", //blue
  "#773e85"  //purple
*/

:root {
  --sidebar-length: 20em;
  --header-length: 6em;
  --main-bg-color: mintcream;
  --highlight-color: #d8117d;
    --pink:#d8117d;
     --red:#d9362d;
  --orange:#e5712a;
  --yellow:#f8be23;
   --green:#069743;
    --blue:#00a3da;
  --purple:#773e85;
}

ul {
  list-style-type: square;
  list-style-image: url('../images/bullet.png');
}

li {
  line-height: 150%;
}

html {
  background-image: url("../images/pcb-transparent.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

html, body {
  background-color:var(--main-bg-color);
  margin: 0;
  padding: 0;
  font-family: jetbrainsmono;
  font-variant-ligatures: normal;
}
body {
  background-color: rgba(245, 255, 250, 0.2);
}

a, a:visited {
  color: black;
}
a:hover {
  color: var(--highlight-color);
}

header {
  height: var(--header-length); 
  position: fixed;
  width: 100%;
  background-color: black;
  margin: 0;
  top: 0;
  display: block;
  color: var(--main-bg-color);
  z-index: 1;
  text-align: center;
}
div.headerbox {
  width: 28%;
  display: inline-block;
  margin-top: 0;
  height: 6em;
  vertical-align: middle;
  padding-top: 0;
  margin-left: 2em;
  margin-right: 2em;
}
div.headerbox h3 {
  padding: 0;
  padding-top: 1.25em;
  margin: 0;
}
div.headerbox p { 
  vertical-align: middle;
  padding-bottom: 0.5em;
}
div.headerbox i {
  padding-top: 0.2em;
}
div.headerbox#socials p{
  display: flex; 
  justify-content: space-between;
  padding: 0 3em;
}

div.headerbox#socials-small{
  display: none;
}
a#linkedin, a#linkedin:visited {
  color: var(--main-bg-color);
}
a#linkedin:hover {
  color: #0072b1;
}

a#twitter, a#twitter:visited {
  color: var(--main-bg-color);
}
a#twitter:hover {
  color: #55acee;
}

a#instagram, a#instagram:visited {
  color: var(--main-bg-color);
}
a#instagram:hover {
  color: #e1306c;
}

a#email, a#email:visited {
  color: var(--main-bg-color);
}
a#email:hover {
  color: var(--yellow);
}

a#github, a#github:visited {
  color: var(--main-bg-color);
}
a#github:hover {
  color: #6cc644;
}

a.headerbox, a.headerbox:visited {
  color: var(--main-bg-color);
  line-height: 50%;
}
a.headerbox:hover {
  color: var(--highlight-color);
  line-height: 50%;
}

div.headerbox h1 { 
  font-size: 3.5em;
  line-height: 25%;
}


h1 a {
  color: var(--main-bg-color);
  /* line-height: 50%; */
  text-decoration: none;
}
h1 a:visited {
  color: var(--main-bg-color);
  /* line-height: 50%; */
  text-decoration: none;
}
h1 a:hover {
  color: var(--highlight-color);
  /* line-height: 50%; */
  text-decoration: none;
}

#sidebar {
  width: var(--sidebar-length);
  height: 100%;
  border-right-style: solid;
  border-right-width: 0.5em;
  border-right-color: black;
  position: fixed;
  float: left;
  padding-left: 4em;
  padding-right: 3em;
  display: block;
  z-index: 0;
  text-align: right;
  overflow:scroll;
  direction: rtl;
  top: var(--header-length);
  bottom: 0;
}

div#sidebar a {
  line-height: 200%;
  direction: ltr;
}
div#sidebar a:hover {
  color: var(--highlight-color);
}
div#sidebar a.sec1, div#sidebar a.sec1:visited{
  color: var(--green);
}
div#sidebar a.sec2, div#sidebar a.sec2:visited{
  color: var(--purple);
}
div#sidebar a.sec3, div#sidebar a.sec3:visited{
  color: var(--blue);
}
div#sidebar a.sec4, div#sidebar a.sec4:visited{
  color: var(--orange);
}

div#sidebar #foot {
  position: static;
  padding-bottom: 10em;
}

span.navsep {
  width: 100%;
  color: gray;
  text-align: center;
  display: block;
  font-weight: 900;
}

main {
  margin-left: var(--sidebar-length);
  padding-left: 10em;
  margin-top:  var(--header-length);
  padding-top: 0.1em;
  padding-right: 4em;
  padding-bottom: 2em;
  display: block;
}

footer {
  position: fixed;
  float: bottom;
  width: 100%;
  bottom: 0;
  background-color: black;
  height: 1em;
}

h2 {
  font-size: 2em;
  color: var(--pink);
  text-decoration: underline;
  text-decoration-style: solid;
  font-weight: 900;
}

h2#professionalexp {
  padding-top: 3em;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  font-size: 1.25em;
  font-weight: 500;
}

div.text-left {
  grid-column-start: 1;
  grid-column-end: 4;
  direction: rtl;
}
div.image-right {
  grid-column-start: 4;
  grid-column-end: 5;
  align-content: center;  
  text-align: center;
  padding-left: 1em;
  margin-top: 2em;
  max-height: 550px;
}
div.image-left {
  grid-column-start: 1;
  grid-column-end: 2;  
  align-content: center;  
  text-align: center;
  padding-right: 1em;
  margin-top: 2em;
  max-height: 550px;
}
div.text-right {
  grid-column-start: 2;
  grid-column-end: 5;
  text-align: left;
}

div.image-right-wide {
  grid-column-start: 3;
  grid-column-end: 4;
  align-content: center;  
  text-align: center;
  margin-top: 2em;
  max-height: 550px;
}
div.text-left-thin {
  grid-column-start: 1;
  grid-column-end: 3;
  direction: rtl;
}
div.image-left-wide {
  grid-column-start: 1;
  grid-column-end: 3;  
  align-content: center;  
  text-align: center;
  max-height: 550px;
}
div.text-right-thin {
  grid-column-start: 3;
  grid-column-end: 5;
  text-align: left;
}

div.image-right img, div.image-left img, div.image-right-wide img {
  max-height: 30vh;
}

div.academic-project {
  display: grid;
}

main span.acasep {
  padding: 3em 0;
  width: 100%;
  color: gray;
  text-align: center;
  display: block;
  font-weight: 900;
}

main span.profset {
  padding: 1em 0;
  width: 100%;
  color: gray;
  text-align: center;
  display: block;
  font-weight: 900;
}
