@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&display=swap');

:root {
  --base-font:'Harmattan','IBM Plex Sans','IBM Plex Sans Arabic','IBM Plex Sans SemiBold','IBM Plex Sans Medium',sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: black;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
  }
}
@media (prefers-color-scheme: no-preference) {
  :root {
    --text-color: white;
  }
}
html, body {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: var(--base-font);
}

p {
  font-size: 16pt;
  line-height: 120%;
}
