@font-face{
	font-family: "amarillo";
	src: url("/fonts/Amarillo.otf");
}
@font-face{
	font-family: "gentium";
	src: url("/fonts/GentiumPlus-R.ttf");
}
@font-face{
	font-family: "candara";
	src: url("/fonts/Candara.ttf");
}
@font-face{
	font-family: "candarabold";
	src: url("/fonts/Candarab.ttf");
}
body {
	font-family: candara;
	background-color: #ffffff ;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	padding-top: 0;
	color: #1e1f26;
}

p {
	font-size: 18px;
}

h1 {
	font-family: amarillo;
	position: relative;
	margin-bottom: 1em;
}

header{
	position: fixed;
	width: 100vw;
	padding-top: 0;
	padding-left: 6em;
	padding-bottom: 0;
	background-color: #4d648d;
	color: #d0e1f9 ;
}

main {
	margin-top: 0;
	margin-bottom: 1em;
	margin-right: 1em;
	margin-left: 14em;
	padding-top: 6em;
	padding-bottom: 2em;
	padding-right: 1em;
	padding-left: 1em;
}

a {
	text-decoration: none;
	color: black;
}

a:onclick {
	color: black;
}

.textbox {
	margin-top: 1em;
	margin-right: 1em;
	margin-left: 0.5em;
	margin-bottom: 1em;
	background-color: #d0e1f9 ;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	padding-left: 1em;
	max-width: 40%;
	display:inline-block;
	text-align: justify;
    text-justify: inter-word;
    vertical-align: top;
    
    justify-content: center;
  	align-items: center;
	font-family: candarabold;
}
#sidebar{
	position: fixed;
	max-height:100vh;
	width: 10em;
	margin-top: 2.5em;
	margin-bottom: 1em;
	margin-right: 1em;
	margin-left: 1.2em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-right: 1em;
	padding-left: 1em;
	background-color: #4d648d ;
	display: block;
	
	font-family: candarabold;
}

#nav > center > ul {
	margin-left: 0;
	padding-left: 0;
}

#nav > center > ul > li {
	list-style-type: none;
}
#nav > center > ul > li > a {
	display: block;
	margin-left: 0;
	padding-left: 0;
	border-top-style: solid;
	border-bottom-style: none;
	border-top-color: #1e1f26; 
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 18px;
	color: #d0e1f9;
}
#nav > center > ul > li:last-child > a{
	border-bottom-style: solid;
	border-bottom-color: #1e1f26; 
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#nav > center > ul > li > a.active{
	background-color:#d0e1f9;
	color: #283655;
}

#nav > center > ul > li > a:hover{
	background-color:#d0e1f9;
	color: #283655;
}

#hidenav {
	border: none;
	background-color: #283655 ;
	box-shadow: 0;
	font-size: 25px;
	width: 50%;
	border-radius: 0.2em;
	color: #d0e1f9;
}

#maximize {
	border: none;
	background-color: #283655 ;
	box-shadow: 0;
	font-size: 25px;
	border-radius: 0.2em;
	color: #d0e1f9;
	top: 1em;
	margin-left: 4em;
}

#slideshow{
	width: 40%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 0.25em;
	padding-left: 0.25em;
	background-color: #4d648d ;
	
}

#slideshowimages{
	width: 85%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	background-color: #4d648d ;
	
}

.mySlides{
	display: table-cell;
	vertical-align: middle;
	left: 0; 
	right: 0; 
	margin: 0 auto;
	float:center;
	height: 95%;
}
.w3-badge {
	height:20px;
	width:10px;
	padding: 0;
	background-color:#283655;
	color:#fff;
	display:inline-block;
	padding-left:5px;
	margin-left: 0.5em;
	padding-right:5px;
	margin-right: 0.5em;
	text-align:center;
	border-radius: 100%;
}
.w3-left, .w3-right, .w3-badge {
	cursor:pointer;
	color:#d0e1f9;
}
.w3-left{
	float:left;
}
.w3-right{
	float:right;
}
.w3-center {
	display:inline-block;
	width:auto;
}
.w3-transparent,.w3-hover-none:hover{
	background-color:rgba(40, 54, 85, 0.7)!important
}
.w3-white,.w3-hover-white:hover{
	color:#283655!important;
	background-color:#d0e1f9!important;
}