@font-face{
	font-family: "amarillo";
	src: url("/fonts/Amarillo.otf");
}
@font-face{
	font-family: "gentium";
	src: url("/fonts/GentiumPlus-R.ttf");
}
@font-face{
	font-family: "candara";
	src: url("/fonts/Candara.ttf");
}
@font-face{
	font-family: "candarabold";
	src: url("/fonts/Candarab.ttf");
}
body {
	font-family: candara;
	background-color: #FFFFFF ;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	padding-top: 0;
	color: #594F4F;
}

p {
	font-size: 18px;
}

.textbox > p:first-letter {
	font-size: 44px;
	float: left;
	/*line-height: 35px;*/
	padding-top: 0.25em; 
	padding-right: 3px;
}
h1 {
	font-family: amarillo;
	position: relative;
	margin-bottom: 1em;
}

header{
	position: fixed;
	width: 100vw;
	padding-top: 0;
	padding-left: 6em;
	padding-bottom: 0;
	background-color: #45ADA8;
	/*background: linear-gradient(to bottom right, #E5FCC2, #9DE0AD, #45ADA8, #547980, #594F4F);*/
	color: #9DE0AD ;
}

main {
	margin-top: 0;
	margin-bottom: 1em;
	margin-right: 0.5em;
	margin-left: 14em;
	padding-top: 6em;
	padding-bottom: 2em;
	padding-right: 1em;
	padding-left: 1em;
}

a {
	text-decoration: none;
	color: black;
}

a:onclick {
	color: black;
}

.textbox {
	margin-top: 1em;
	margin-right: 1em;
	margin-left: 0.5em;
	margin-bottom: 1em;
	background-color: #9DE0AD ;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	padding-left: 1em;
	max-width: 40%;
	display:inline-grid;
	text-align: justify;
    text-justify: inter-word;
    vertical-align: top;
    justify-content: center;
  	align-items: center;
	font-family: candarabold;
}
#sidebar{
	position: fixed;
	max-height:100vh;
	width: 10em;
	margin-top: 2.5em;
	margin-bottom: 1em;
	margin-right: 1em;
	margin-left: 5em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-right: 1em;
	padding-left: 1em;
	background-color: #45ADA8 ;
	display: block;
	
	font-family: candarabold;
}

#nav > center > ul {
	margin-left: 0;
	padding-left: 0;
}

#nav > center > ul > li {
	list-style-type: none;
}
#nav > center > ul > li > a {
	display: block;
	margin-left: 0;
	padding-left: 0;
	border-top-style: solid;
	border-bottom-style: none;
	border-top-color: #594F4F; 
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 18px;
	color: #9DE0AD;
}
#nav > center > ul > li:last-child > a{
	border-bottom-style: solid;
	border-bottom-color: #594F4F; 
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#nav > center > ul > li > a.active{
	background-color:#9DE0AD;
	color: #547980;
}

#nav > center > ul > li > a:hover{
	background-color:#9DE0AD;
	color: #547980;
}

#hidenav {
	border: none;
	background-color: #547980 ;
	box-shadow: 0;
	font-size: 25px;
	width: 50%;
	border-radius: 0.2em;
	color: #9DE0AD;
}

#shownav{
	position:absolute; 
	top:4.5em; 
	display:none;
}

#maximize {
	border: none;
	background-color: #547980 ;
	box-shadow: 0;
	font-size: 25px;
	border-radius: 0.2em;
	color: #9DE0AD;
	top: 1em;
	margin-left: 6.5em;
}

#slideshow{
	display: inline-block;
	width: 40%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 1em;
	padding-left: 1em;
	margin-right: 1em;
	margin-left: 0.5em;
	margin-bottom: 1em;
	/*background-color: #45ADA8 ;*/
	/*border-style: solid;
	border-color: #45ADA8;*/
}

#slideshowimages{
	width: 75%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	background-color: #45ADA8 ;
	margin-top: 1em;
	margin-right: 1em;
	margin-left: 0.5em;
	margin-bottom: 1em;
}

.mySlides{
	display: table-cell;
	vertical-align: middle;
	left: 0; 
	right: 0; 
	margin: 0 auto;
	float:center;
	height: 95%;
}
.w3-badge {
	height:20px;
	width:10px;
	padding: 0;
	background-color:#547980;
	color:#fff;
	display:inline-block;
	padding-left:5px;
	margin-left: 0.5em;
	padding-right:5px;
	margin-right: 0.5em;
	text-align:center;
	border-radius: 100%;
}
/*.w3-hover-text-khaki{
	border-radius: 100%;
	height:1.5em;
	width:1.5em;
	background-color: #45ADA8;
}*/
.w3-left, .w3-right, .w3-badge {
	cursor:pointer;
	color:#9DE0AD;
}
.w3-left{
	float:left;
}
.w3-right{
	float:right;
}
.w3-hover-text-khaki-dark-left, .w3-hover-text-khaki-dark-right{
	color: #45ADA8;
	position: relative;
	margin-top: 1.5em; 
	font-size:5em;
	z-index: -100;
	font-family: candarabold;
}
.w3-hover-text-khaki-dark-left{
	margin-left: -0.44em;
	margin-right: 0.2em;
}
.w3-hover-text-khaki-dark-right{
	margin-left: 0.2em;
	margin-right: -0.44em;
}
.w3-center {
	display:inline-block;
	width:auto;
}
.w3-transparent,.w3-hover-none:hover{
	background-color:rgba(30, 31, 38, 0.7)!important
}
.w3-white,.w3-hover-white:hover{
	color:#547980!important;
	background-color:#9DE0AD!important;
}

/*This is the mobile-ified section to make things work on small screens*/

@media only screen and ( max-width: 62.5em ) /* 1000 */{
	#sidebar{
		width: 100%;
		position: static;
		margin: 0;
	}

	#shownav{
	width: 50%;
	}

	#slideshow{
	width: 90%;
	}

	#maximize {
		width: 100%;
		margin-left: 50%;
		left: 50%;
	}

	#sidebar
	{
		position: fixed;
		top: auto;
		float: center;
		width: 100%;
		height: 100%;
		padding-top: 2em;
		padding-left: 0;
		margin-bottom: -2em;
		margin-left: 0;
		margin-top: 0;
		border-radius: 0.1em 0.1em 0.1em 0.1em; 
	}
		#nav > center > ul > li > a
		{
			width: 70%; /* 50 */
			height: 70%; /* 50 */
			text-align: center;
			position: relative;
		}
	.textbox{
		max-width: 80%;
		margin-left: 0;
		margin-right: 0;
	}
	main{
		margin-left: 0;
		margin-right: 0;
	}
}
@media only screen and ( max-width: 65.6em ) /* 1050 */{
	html{
		font-size: 75%; /* 12 */
	}
	.mySlides{
		max-height: none;
		height:auto !important;
		width:100%;
		vertical-align: center;
	}
	.textbox{
		display:inline-flex;
		padding: 2em 2em 2em 2em;
		width: 100%;
		text-align: justify;
	    text-justify: inter-word;
	    /*80px header + 40px footer = 120px  */
	}
	#slideshowimages{
		width: 70%;
	}