@font-face{
	font-family: "amarillo";
	src: url("/fonts/Amarillo.otf");
}
@font-face{
	font-family: "gentium";
	src: url("/fonts/GentiumPlus-R.ttf");
}
@font-face{
	font-family: "candara";
	src: url("/fonts/Candara.ttf");
}
body {
	font-family: candara;
	background-color: #e6ffcc;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	padding-top: 0;
}

h1 {
	font-family: amarillo;
	position: relative;
	margin-bottom: 1em;
}

main {
	margin-top: 0;
	margin-bottom: 1em;
	margin-right: 1em;
	margin-left: 14em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-right: 1em;
	padding-left: 1em;
}

a {
	text-decoration: none;
	color: black;
}

a:onclick {
	color: black;
}

.textbox {
	margin-top: 1em;
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
	background-color: #ccccff;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	padding-left: 1em;
	min-width: 45%;
	max-width: 70%;
	display:inline-block;
	text-align: justify;
    text-justify: inter-word;
    vertical-align: top;
    border-radius: 0.5em;
}
#sidebar{
	position: absolute;
	max-height:100vh;
	width: 10em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-right: 1em;
	margin-left: 1em;
	padding-top: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-right: 1em;
	padding-left: 1em;
	background-color: #cce6ff;
	display: block;
	border-radius: 0.5em;
}

#nav > center > ul {
	margin-left: 0;
	padding-left: 0;
}

#nav > center > ul > li {
	list-style-type: none;
	margin-top: 1em;
	margin-bottom: 1em;
}

#nav > center > ul > li > a {
	display: block;
	margin-left: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 0;
	border-top-style: solid;
	border-bottom-style: none;
	border-top-color: #e6ccff; 
	padding-top: 0.5em;
}
#nav > center > ul > li:last-child > a{
	border-width: 5px 0 5px 0;
	border-bottom-style: solid;
	border-bottom-color: #e6ccff; 
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#hidenav {
	border: none;
	background-color: #ffcccc;
	box-shadow: 0;
	font-size: 25px;
	width: 50%;
	border-radius: 0.2em;
}

#maximize {
	border: none;
	background-color: #ffcccc;
	box-shadow: 0;
	font-size: 25px;
	border-radius: 0.2em;
}