th:hover {
	background-color: rgba(75, 75, 75, 1.0)
}

div {
	padding-top: 0em;
	padding-bottom: -1em;
	padding-left: 0em;
	padding-right:0em;
}

table { 
	background: url(../img/grey.png)
	padding: 0 0 0 0;
}

tr {
	background: url(../img/grey.png)
}