html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.pace {
    position: fixed;
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background-color: #8560a8;
    position: fixed;
    z-index: 200;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 100%;
}

.pace:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    background: url(../img/PPPJ.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    content: "";
}

body >:not(.pace),
body:before,
body:after {
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

body:not(.pace-done) >:not(.pace),
body:not(.pace-done):before,
body:not(.pace-done):after {
    opacity: 0
}